<html>

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">

      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    </head>

    <h1>Monte Carlo Forecaster</h1>

    <div id="app" class="columns">

    <div class="column is-one-third">
        <div class="card" v-for="item in trainingData" style="margin: 5px;">
          <header class="card-header">
            <p class="card-header-title">Size: {{ item.size }}</p>
          </header>
          <div class="card-content">
            <div class="content">
              <b-field label="Historical sizes">
                  <b-taginput
                      v-model="item.values"
                      v-bind:allow-duplicates="true"
                      :before-adding="beforeAdding">
                  </b-taginput>
              </b-field>
            </div>
          </div>
        </div>
    </div>


    <div class="column is-two-thirds">
      <div class="card" style="margin: 5px;">
        <header class="card-header">
          <p class="card-header-title">Backlog</p>
        </header>
        <div class="card-content">
          <div class="content">
            <div v-for="item in backlog">
              <label>{{ item.size }}</label>
              <input v-model="item.count" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="index.js"></script>

</html>
