<html>

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">

      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.1/Sortable.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.23.2/vuedraggable.umd.min.js"></script>
    </head>

    <h1>Monte Carlo Forecaster</h1>

    <div id="app" class="columns">
      <div class="column is-one-third">

        <div class="card" style="margin: 5px;">
          <header class="card-header">
            <p class="card-header-title">Epic Sizes</p>
          </header>
          <div class="card-content">
            <div class="content">
              <b-taginput
                  v-model="sizes"
                  v-bind:allow-duplicates="false">
              </b-taginput>
            </div>
          </div>
        </div>

        <div class="card" style="margin: 5px;">
          <training-data :rows="trainingData.rows"></training-data>
        </div>

      </div>
      <div class="column is-two-thirds">

        <div class="card" style="margin: 5px;">
          <header class="card-header">
            <p class="card-header-title">Backlog</p>
          </header>
          <div class="card-content">
            <div class="content">
              <div v-for="item in backlog">
                <label>{{ item.size }}</label>
                <input v-model="item.count" />
              </div>

              <div v-for="result in results">
                Percentile: {{ result.percentile }}%, count: {{ result.count }}, cost: {{ formatCurrency(result.count * 2000) }}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <script type="text/javascript" src="index.js"></script>

</html>
